@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Kumbh+Sans:wght@100..900&family=Lusitana:wght@400;700&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .meals-h1 {
    @apply md:text-[44px] text-2xl md:leading-[50px] font-kumbhSans;
  }
  .meals-h2 {
    @apply text-4xl font-kumbhSans;
  }
  .meals-h3 {
    @apply text-[32px] font-kumbhSans;
  }
  .meals-h4 {
    @apply text-[28px] font-kumbhSans;
  }
  .meals-h5 {
    @apply text-2xl font-kumbhSans;
  }
  .meals-h6 {
    @apply text-xl font-kumbhSans;
  }
  .meals-subtitle {
    @apply text-lg;
  }
  .meals-body1 {
    @apply text-base;
  }
  .meals-body2 {
    @apply text-sm;
  }
  .meals-caption {
    @apply text-xs;
  }
}

:root {
  padding: 0;
  margin: 0;
}

/* Ant Card */
.ant-card .ant-card-body {
  padding: 0px;
}